body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

.container {
    width: 500px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #00e5ff;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
}

#suggestions div {
    background: #1e1e1e;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #00bcd4;
}

.card {
    background: #1e1e1e;
    margin-top: 15px;
    padding: 15px;
    border-radius: 12px;
}
